[tool.poetry]
name = "PyQQMusicApi"
version = "0.1.0"
description = "QQ音乐API封装库"
authors = ["Luren <dluren.c@gmail.com>"]
license = "MIT"
readme = "README.md"
maintainers = ["Luren <dluren.c@gmail.com>"]
homepage = "https://github.com/luren-dc/QQMusicApi"
repository = "https://github.com/luren-dc/QQMusicApi"
documentation = "https://github.com/luren-dc/QQMusicApi"
keywords = ["music", "api", "qqmusic", "tencentmusic"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Natural Language :: Chinese (Simplified)",
    "License :: OSI Approved :: MIT License",
    "Framework :: Pytest",
    "Framework :: aiohttp",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.8"
cryptography = "^41.0.2"
requests = "^2.31.0"
aiohttp = "^3.8.5"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
qrcode = {extras = ["pil"], version = "^7.4.2"}
pyzbar = "^0.1.9"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "asyncio",
]
