name: Update dependencies

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update dependencies
        uses: pdm-project/update-deps-action@main
        with:
          update-strategy: eager
          commit-message: "build: Update pdm.lock"
          pr-title: "build: Update dependencies"
