name: Testing

on:
  push:
    branches:
      - "main"
    paths:
     - "qqmusic_api/**"
     - "tests/**"

  pull_request:

  schedule:
    - cron: "0 6 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Install the project
        run: uv sync --group testing
      - name: Run tests
        run: uv run pytest
